fastapi>=0.100.0
uvicorn>=0.22.0
sqlalchemy>=2.0.0
pymysql>=1.1.0
PyJWT==2.8.0
passlib==1.7.4
bcrypt==4.1.2
python-multipart==0.0.9
python-dotenv>=1.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
email-validator>=2.1.0.post1
razorpay==1.4.16
psycopg2-binary>=2.9.9
alembic>=1.13.0
gunicorn>=21.2.0
